<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ChnCharInfo" version="1.0.0" targetFramework="net46" />
  <package id="LiteDB" version="3.0.0" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net46" />
  <package id="NPOI" version="2.2.1" targetFramework="net46" />
  <package id="NPOI.Extension" version="1.2.0.1" targetFramework="net46" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net46" />
  <package id="SimplifiedChinesePinYinConversion" version="1.0.0" targetFramework="net46" />
  <package id="Trustsoft.WideHotkeys" version="0.1.0" targetFramework="net46" />
  <package id="Trustsoft.WideHotkeys.Wpf" version="0.1.0" targetFramework="net46" />
</packages>